.PortfolioPhoto {
    overflow: hidden;
    width: 100%;
}

.mainPhoto {
    position: relative;
    -webkit-transform: translateY(-58%) translateX(-72%);
    scale: 0.45;
}

@media only screen and (max-width: 600px) {
    .PortfolioPhoto {
        /*display: none;*/
    }
  }