.PortfolioPhoto {
    height: 92vh;
    overflow: hidden;
    flex: 3 1;
    margin: 10px;
}

.mainPhoto {
    height: 2000px;
    position: relative;
    left: 50%;
    top: 800px;
    -webkit-transform: translateY(-50%) translateX(-50%);
}
