.PortfolioPhoto {
    overflow: hidden;
}

.mainPhoto {
    height: 2100px;
    position: relative;
    left: 50%;
    top: 750px;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

@media only screen and (max-width: 600px) {
    .PortfolioPhoto {
        display: none;
    }
  }