.PortfolioAboutMe {
    display: flex;
    flex-direction: row;
    align-items: start;
    font-family: 'Titillium Web', sans-serif;
    width: 250px;
    height: 85vh;
}

.intro-text {
    transform: rotate(-90deg);
    white-space: nowrap;
    position: relative;
    font-size: 5rem;
    font-weight: bolder;
    text-transform: capitalize;
    top: 121px;
    left: -113px;
    color: white;
}

.welcome-text {
    transform: rotate(-90deg);
    white-space: nowrap;
    position: relative;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    top: 245px;
    left: -520px;
    color: #9b9b9b;
}

.sm-cont {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.logo-sm-cont {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.logo-sm {
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .PortfolioAboutMe {
        align-items: start;
        padding: 5px;
        font-family: 'Titillium Web', sans-serif;
        width: 100%;
    }

    .sm-cont {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
        color: black;
    }
  }
