.HeroComponent {
    display: flex;
    flex-direction: row-reverse;
    height: 94vh;
}

.button-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }